<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Server>
    <Url>wss://master-rms.radiantrfid.com/Rms/</Url>
    <RequestTimeoutMs>10000</RequestTimeoutMs>
    <ConnectIntervalMs>60000</ConnectIntervalMs>
    <ReadWriteTimeoutMs>300000</ReadWriteTimeoutMs>
    <CommandTimeoutMs>30000</CommandTimeoutMs>
  </Server>
  <HttpListener>
    <IsEnabled>true</IsEnabled>
    <Port>8888</Port>
    <RequestMaxSize>500000</RequestMaxSize>
    <AcceptRequestIntervalMs>1</AcceptRequestIntervalMs>
    <RequestReadIntervalMs>1000</RequestReadIntervalMs>
    <RequestTimeoutMs>5000</RequestTimeoutMs>
    <MaxPulseIntervalMs>300000</MaxPulseIntervalMs>
  </HttpListener>
  <BleReader>
    <IsEnabled>True</IsEnabled>
    <ReaderServicesVerificationIntervalMs>5000</ReaderServicesVerificationIntervalMs>
    <SystemProcessExecutionTimeoutMs>5000</SystemProcessExecutionTimeoutMs>
    <RssiFilter>
      <IsEnabled>False</IsEnabled>
      <MinValueDBm>-100</MinValueDBm>
      <MaxValueDBm>0</MaxValueDBm>
    </RssiFilter>
    <TagPolling>
      <IsTagQueueEnabled>True</IsTagQueueEnabled>
      <TagQueueMaximumCapacity>10000</TagQueueMaximumCapacity>
      <RepositoryPath>../Data/TagStateLog</RepositoryPath>
      <TagUploadMode>Lifo</TagUploadMode>
      <TagUploadBlockSize>100</TagUploadBlockSize>
      <TagUploadIntervalMs>30000</TagUploadIntervalMs>
      <TagUploadMaxPulseIntervalMs>300000</TagUploadMaxPulseIntervalMs>
      <TagPollingMode>VisibilityEvents</TagPollingMode>
      <TagReadSummaryUploadIntervalMs>60000</TagReadSummaryUploadIntervalMs>
      <TagReadSummaryRepositoryPath>../Data/TagReadSummaryLog</TagReadSummaryRepositoryPath>
      <TagReadSummaryUploadConfigurationVerificationIntervalMs>30000</TagReadSummaryUploadConfigurationVerificationIntervalMs>
    </TagPolling>
    <FirmwareVersionFilePath>firmware-version.txt</FirmwareVersionFilePath>
    <FirmwareConfigFilePath>firmware-config.ini</FirmwareConfigFilePath>
  </BleReader>
  <TaskScheduler>
    <MaxWaitIntervalMs>60000</MaxWaitIntervalMs>
    <MaxPulseIntervalMs>300000</MaxPulseIntervalMs>
  </TaskScheduler>
  <StatusUpdate>
    <IsEnabled>true</IsEnabled>
    <IntervalMs>900000</IntervalMs>
  </StatusUpdate>
  <TimeSynchronization>
    <IsEnabled>false</IsEnabled>
    <IntervalMs>900000</IntervalMs>
  </TimeSynchronization>
  <AutomaticUpdate>
    <IsEnabled>false</IsEnabled>
    <IntervalMs>900000</IntervalMs>
    <SourcePath>/RFID_Controller_Mono_Ble</SourcePath>
    <DownloadPath>AutomaticUpdate</DownloadPath>
  </AutomaticUpdate>
  <Log>
    <LogLevel>Warn</LogLevel>
    <IsConsoleEnabled>true</IsConsoleEnabled>
    <IsStreamingEnabled>false</IsStreamingEnabled>
    <StreamingServiceUrl>http://127.0.0.1:5000/LogAppender/Append/</StreamingServiceUrl>
    <IsFileEnabled>false</IsFileEnabled>
    <FileName>../Logs/app.log</FileName>
    <MaximumFileSize>102400</MaximumFileSize>
  </Log>
  <CustomerAddressResolution>
    <IsEnabled>true</IsEnabled>
    <IntervalMs>900000</IntervalMs>
  </CustomerAddressResolution>
</Config>
